<% if @user %> 
 
<div class="nav"> 
  <ul class="navul">
    <form action="/homepage" method="POST">
      <input type="hidden" name="_method" value="delete">
      <li class="navbar"><button class="nav_btn">Log Out</button></li>
    </form>
  </ul>
  <a class="navbar nav_btn" href="/categories">Categories</a>
  <a class="navbar nav_btn" href="/new_article">Write an Article</a>
  <li class="navbar"><a class="nav_btn" href="/homepage">Home</a></li>
  <li class="hello"><p>Hello, <%= @user.username %></p></li> 
</div>

<% end %>

<div class="body">
  <h2>Article Categories</h2>
  <div class="articles_div">
    <ul class="articles">
    <% @categories.each do |category| %>
      <div class="article_link">
      <li>
        <a href="/categories/<%= category.id %>"> <%= "#{category.name}" %> </a>
      </li>
      <br/>
      </div>
    <% end %>
    </ul>
  </div>
</div>