<% if @user %> 
 
<div class="nav"> 
  <ul class="navul">
    <form action="/homepage" method="POST">
      <input type="hidden" name="_method" value="delete">
      <li class="navbar"><button class="nav_btn">Log Out</button></li>
    </form>
  </ul>
  <a class="navbar nav_btn" href="/categories">Categories</a>
  <a class="navbar nav_btn" href="/new_article">Write an Article</a>
  <li class="navbar"><a class="nav_btn" href="/homepage">Home</a></li>
  <li class="hello"><p>Hello, <%= @user.username %></p></li> 
</div>

<% end %>
 
<div class="body">
  <h1>Welcome to the Wiki!</h1>
    <h2>Street Meat of New York City</h2>
    <div class="articles_div">
      <ul class="articles_body">
      <% @articles.each do |article| %>
      <div class="article_link">
        <li>
          <a href="/articles/<%= article.id %>"><%= "#{article.title}" %></a>
        </li>
        <br/>
      </div>
      <% end %>
      </ul>
    </div>
      
  <button id="modal-button">Button</button>
  <div class="modal-container">
    <div class="modal-content">
    <h1>Yeah, I'm impressive. I use JQuery. I make Modals. Ooooh!! Aaaahhh!!</h1>
    <button class="close-button">X</button>
    </div>
  </div>
</div> 







 