<a class="nav_btn" href="/">Home</a>

<h1>NYC Street Meats: <br/> The Wiki</h1>

<div class="login">
  <form action="/sessions" method="POST">
    <label for="name"> Username: </label>
    <input class="input" type="text" name="username" id="name" placeholder="Your Username!">
    <button class="nav_btn">Log In</button>
  </form>
</div>