<a class="nav_btn" href="/">Home</a>
<div class="body">
  <h1>NYC Street Meats: <br/> The Wiki</h1>

  <div class="login">
  <h2>Login to Your Wiki</h2>
    <form action="/sessions" method="POST">
      <label for="name"> Username: </label>
      <input class="input" type="text" name="username" id="name">
      <br/>
      <label for="password"> Password: </label>
      <input class="input" type="password" name="password" id="password">
      <br/>
      <button class="btn">Log In</button>
    </form>
  </div> 
</div>