<form action="/login" method="POST">

  <label for="name"> Username: </label>
  <input type="text" name="name" id="name" placeholder="Your Username!">
  <button>Log In</button>

</form>

<p><a href="/">Home</a></p>