<h1>Sign up to join the Wiki</h1>

<form action="/users" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="Your New Username">
  <button>Sign Up</button>
</form>


<p><a href="/">Home</a></p>