
<a class="nav_btn" href="/">Home</a>

<h1>NYC Street Meats: <br/> The Wiki</h1>

<div class="login">
  <h2>Sign up to join the Wiki</h2>

  <form action="/users" method="POST">
    <label for="name">Name: </label>
    <input class="input" type="text" name="name" id="name">
    <label for="username">Username: </label>
    <input class="input" type="text" name="username" id="username">
    <button class="nav_btn">Sign Up</button>
  </form>
</div> 
