@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

body {
  background-image: url('http://1.bp.blogspot.com/-kkbO9r-Vr2Q/VLS8jjXxO-I/AAAAAAAADgk/DR2VH1kpjy4/s1600/New%2Byork%2Bcity%2Bbridge%2Bhd%2Bdesktop%2Bbest%2Bwallpaper.jpg');
  background-position: fixed;
  background-repeat: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin: 0;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: #5d5b71;
  font-size: 50px;
  opacity: 1;
}

h2 {
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
}

.p {
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  font-size: 20px;
}

.category_input {
  margin-top: 20px;
  margin-bottom: 20px;
}

button { 
  border: 0; 
}

input {
  border: 0;
}

.input {
  border-radius: 10px;
  padding: 13px;
}

.input_1 {
  width: 420px;
}

.input_2 {
  width: 362px;  
}

.input_3 {
  width: 370px;  
}

.input_4 {
  width: 250px; 
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
  display: inline;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.hello {
  float: left;
}

.nav_btn {
  text-decoration: none;
  background-color: rgba(255,255,255,0.5);
  padding: 5px;
  border-radius: 10px;
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  font-size: 20px;
  float: right;
}

.btn {
  text-decoration: none;
  background-color: rgb(255,255,255);
  padding: 5px;
  border-radius: 10px;
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  font-size: 20px;
  margin-top: 10px;
}

.nav {
  background-color: rgba(255,255,255,0.5);
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  text-align: right;
  display: inline;
  font-size: 20px;
}
 
.login_links {
  text-align: center;
  font-size: 25px;
  background-color: rgba(255,255,255,0.6);
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Coming Soon', cursive;
  text-decoration: none;
  list-style-type: none;
  margin-top: 15px;
}

.login_links a {
  text-decoration: none;
  color: #5d5b71;
  border: 0;
  outline: 0;
  box-shadow: none;
  margin-top: 10px;
}

.login {
  text-decoration: none;
  text-align: center;
  padding-top: 2px;
  font-family: 'Coming Soon', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #5d5b71;
  height: 400px;
  width:600px;
  position: center;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(252, 206, 135,0.6);
  border-radius: 10px;
}

.align_logins label{
/*  float: left;*/
  margin-right: 5px;
  margin-left: 20px;
}

.align_logins input{
/*  float: left;*/
  margin-right: 20px;
/*  width: 40%;*/
}

.body {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  position: center;
  list-style-type: none;
  padding-top: 100px;
}

li {
  list-style-type: none;
}

.login_link {
  text-align: left;
  position: left;
  border: 0;
}

.articles a {
  text-decoration: none;
  color: #43225a;
  font-family: 'Coming Soon', cursive;
  font-size: 30px;
  font-weight: bold;
}

.articles {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.article_title {
  text-decoration: none;
  color: #43225a;
  font-family: 'Coming Soon', cursive;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.article_body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(255,255,255,0.6);
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  text-align: left;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.new_article {
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  text-align: left;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.label {
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  text-align: left;
  font-size: 30px;
}

.article_inputs {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: inline;
  background-color: rgba(255,255,255,0.7);
  vertical-align: top;
  font-family: 'Coming Soon', cursive;
  color: #5d5b71;
  font-size: 15px;
  border: 0;
}

.content {
  height: 300px;
  padding-bottom: 20px;

}